<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>
    <center>
    <h1>Bem-vindo a homepage!</h1>    
        <hr>
        <p>Iniciando estudos com o Node.js...</p>
        <br>
        <br>
         <img src="/images/nodejs.png" alt="Node JS" width="250px">
    </center>
<%- include('partials/footer.ejs') %>